{% extends "layout.html" %}

{% block content %}
<!-- User account page -->
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2 class="text-center mb-4">Account Details</h2>
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="card-title m-0">{{ current_user.username }}</h5>
          {% if current_user.is_admin %}
          <span class="badge bg-success">Seller</span>
          {% else %}
          <span class="badge bg-secondary">User</span>
          {% endif %}
        </div>
        <div class="card-body">
          <!-- profile card -->
          <div class="d-flex flex-column justify-content-center align-items-center mb-4 g-4">
            <img src="{{ image_file }}" alt="Profile Image" class="rounded-circle ", style="width: 125px; height: 125px; object-fit: cover; object-position: 100% 0;">
            <p class="card-text">{{ current_user.email }}</p>
          </div>
        </div>
      </div>
      <form method="POST" action="/account", enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group mb-3">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control", placeholder="Enter username") }}
          {% if form.username.errors %}
          <div class="text-danger">{{ form.username.errors[0] }}</div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          {{ form.email.label(class="form-label") }}
          {{ form.email(class="form-control", placeholder="Enter email") }}
          {% if form.email.errors %}
          <div class="text-danger">{{ form.email.errors[0] }}</div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control", placeholder="Enter password") }}
          {% if form.password.errors %}
          <div class="text-danger">{{ form.password.errors[0] }}</div>
          {% endif %}
        </div>
        <div class="form-group mb-3">
          {{ form.picture.label(class="form-label") }}
          {{ form.picture(class="form-control") }}
          {% if form.picture.errors %}
          {% for error in form.picture.errors %}
          <span class="text-danger">{{ error }}</span><br>
          {% endfor %}
          {% endif %}
        </div>
        <div class="form-group mb-3">
          {{ form.submit(class="btn btn-outline-primary w-100") }}
        </div>
      </form>
      {% if error %}
      <div class="alert alert-danger mt-3">{{ error }}</div>
      {% endif %}
    </div>
  </div>
</div>
<!-- End of User account page -->
{% endblock content %}